#编译器文件
**/.venv
**/.idea
**/__pycache__/
*.egg-info/

# LLM本地服务器
Airis/src/core/llm/server.py
Airis/src/core/llm/models

# 模型文件
Airis/data/models/*

# services
services/*
!services/painter/client.py
!services/sound_board
!services/calculator

# .env
Airis/data/config/.env
!Airis/data/config/.env.example

# memory
Airis/data/memories/*

# cache
Airis/data/cache/*

# logs
Airis/data/logs/*

# backups
Airis/data/backups/*

# node
**/node_modules

**/test.py
