#编译器文件
.venv
.idea
**/__pycache__/

#LLM本地服务器
core/llm/server.py
core/llm/models

#模型文件
data/models/*

#server
server/*
!server/painter/client.py
!server/sound_board
!server/calculator

#.env
data/config/.env
!data/config/.env.example

#memory
data/memories/*

#cache
data/cache/*

#logs
data/logs/*

test.py