#编译器文件
.venv
.idea
**/__pycache__/

#LLM本地服务器
core/llm/server.py
core/llm/models

#模型文件
Files/models/*

#tools
core/tools/*
!core/tools/__init__.py
!core/tools/registry.py
!core/tools/get_current_time
!core/tools/sound_board

#server
server/*
!server/websocket

#.env
Files/config/.env
!Files/config/.env.example

#memory
Files/memories/*

#cache
Files/cache/*

#logs
Files/logs/*

test.py