azure-cognitiveservices-speech==1.49.1
keyboard==0.13.5
numpy==1.26.4
openai==2.29.0
openai-whisper==20250625
PyAudio==0.2.14
python-dotenv==1.2.2
requests==2.32.5
websockets==11.0.3
mem0ai==1.0.6
chromadb==1.5.5
sentence-transformers==5.3.0
-e ../airis-sdk/python