# HuggingFace READ TOKEN
HF_TOKEN=

# OpenAI API
LLM_API_KEY=
LLM_BASE_URL=
LLM_MODEL=

# Cloudflare Workers AI API
STT_API_KEY=
STT_ACCOUNT_ID=

# OpenAI API
MEMORY_API_KEY=
MEMORY_BASE_URL=
MEMORY_MODEL=
